@import "tailwindcss";

@theme {
  /* font family */
  --font-space-grotesque: "Space Grotesk", sans-serif;

  /* colors */
  --color-error: hsl(0, 100%, 66%);
  --color-darkViolet: hsl(278, 68%, 11%);
  --color-Light-grayish-violet: hsl(270, 3%, 87%);
  --color-Dark-grayish-violet: hsl(279, 6%, 55%);
  --color-gradient-start: hsl(249, 99%, 64%);
  --color-gradient-end: hsl(278, 94%, 30%);
}
