@import "tailwindcss";

@theme {
  /* font family */
  --font-space-grotesque: "Space Grotesk", sans-serif;

  /* colors */
  --color-error: hsl(0, 100%, 66%);
  --color-darkViolet: hsl(278, 68%, 11%);
  --color-LightGrayishViolet: hsl(270, 3%, 87%);
  --color-DarkGrayishViolet: hsl(279, 6%, 55%);
  --color-gradientStart: hsl(249, 99%, 64%);
  --color-gradientEnd: hsl(278, 94%, 30%);
}
